// Button Themes

.button {
  border-radius: $border-radius;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: box-shadow , background-color;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
  }
  &:focus {
    outline: none;
  }
}

.button-blue {
  color: #fff;
  background-color: $blue;
  &:hover {
    color: #fff;
    background-color: darken($blue, 20%);
  }
}

.button-gray {
  color: #fff;
  background-color: $mid-gray;
  &:hover {
    color: #fff;
    background-color: darken($mid-gray, 20%);
  }
  &:focus {}
}

.button-red {
  color: #fff;
  text-transform: uppercase;
  background-color: $red;
  &:hover {
    color: #fff;
    background-color: darken($red, 20%);
  }
  &:focus {}
}

.button-purple {
  color: #fff;
  text-transform: uppercase;
  background-color: $purple;
  &:hover {
    color: #fff;
    background-color: darken($purple, 20%);
  }
  &:focus {}
}

.button-white {
  color: $purple;
  text-transform: uppercase;
  background-color: $white;
  &:hover {
    color: $purple;
    background-color: $light-gray;
  }
  &:focus {}
}

.button-inactive {
  color: #fff;
  background-color: $mid-gray;
  cursor: text;
  text-transform: uppercase;
}

