// .issue-wrapper {
//   background: #fff;
//   margin-right: 5%;
//   margin-left: 5%;
//   margin-top:5%;
// }

//Hero
.issue-header {
  height: 100vh;
}

//Backgrounds
.woodsman {
  background-image: url(../journal/woodsman/images/woodsman-header.jpg);
  background-position: center bottom;
}

//Feature Meta
.feature-meta {
  // border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
}

.meta h5 {
  font-size: 12px !important;
}

.feature-number {
    border-radius: 50%;
    width: 20px;
    height: 100%;
    height: 20px;
    padding: 8px;
    border: 1px solid $light-gray;
    color: $light-gray;
    text-align: center;
    line-height: 20px;
}


