// .issue-wrapper {
//   background: #fff;
//   margin-right: 5%;
//   margin-left: 5%;
//   margin-top:5%;
// }

//Hero
.issue-header {
  height: 100vh;
}

//Backgrounds
.woodsman {
  background: url(../journal/woodsman/images/woodsman-header.jpg) no-repeat;
  background-position: center bottom;
}

//Feature Meta
.feature-meta {
  // border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
}

.meta h5 {
  font-size: 12px !important;
}

.feature-number {
    border-radius: 50%;
    width: 20px;
    height: 100%;
    height: 20px;
    padding: 8px;
    background: #fff;
    border: 1px solid $light-gray;
    color: $light-gray;
    text-align: center;
    line-height: 20px;
}

@media screen and (max-width: 890px) {

}

@media screen and (max-width: $breakpoint-mobile) {
  .issue-wrapper {
    margin: 0;
  }
  .issue-header {
    height: 800px;
  }
  .nav-issues {
  width: 150px;
  }
  @media screen and (max-width: $breakpoint-iphone) {
    .issue-wrapper {
      margin: 0;
    }
    .nav-player {
      width: 100%;
      height: 70px;
    }
    .issue-header {
      height: 480px;
    }
    .mark-sm {
      width: 60px;
      padding-left: 2px;
    }
}

}


