.site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.site-menu {
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -300px;
}

.menu-content {
    position: fixed;
}

.site-wrapper.show-nav .site-canvas {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

//Issue Nav Bar
.issue-nav {
  height: 70px;
  display: table;
  width: 100%;
}

.issue-nav-fixed {
  position:fixed;
  width: 100%;
  z-index: 9999;
  top:0;
}

//Creates linking Singles Club mark in NAV
.nav-home-button {
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  &:hover {
    text-decoration: none;
    color: $white !important;
    background-color: $light-gray;
  }
}
//Creates table-cell that doesn't break down to full width on mobile
.issue-nav-element {
  display: table-cell;
  vertical-align: middle;
}

.nav-mark {
  width: 50px;
  padding: 15px;
  text-align: center;
}

.nav-mark svg {
  width: 30px;
}

.nav-issues {
  width: 300px;
}

.nav-social {
  width: 100px;
  .ss-icon {
    font-size: 18px;
    color: $dark-gray;
    &:hover {
      color: darken($light-gray, 10%);
      text-decoration: none;
    }
  }
}
.nav-mark, .nav-issues, .nav-player {
  border-right: 1px solid $dark-gray;
}

.nav-issues a {
  color: $dark-gray;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

.toggle-down {
  width: 12px;
  margin-left: 15px;
  margin-top: 10px;
  fill: $dark-gray;
}

.mobile-player-controls {
  padding: .5em;
  text-align: center;
}

.mini-track-meta {
  text-align: right;
  float: left;
  padding-right: 15px;
}

// Hides mobile audio player styles on desktop
@media screen and (min-width: $breakpoint-desktop) {
  .full-player, .mobile-player-controls, .mini-track-meta {
    display: none;
    }
}


@media all and (max-width: $breakpoint-mobile) and (min-width: $breakpoint-iphone) {
  .mobile-player-controls {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-iphone) {
  .toggle-down {
    fill: $blue;
  }
  .nav-social, .issue-3, .nav-player {
    display: none;
  }
  .mobile-player-controls {
    background-color: $off-black;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .nav-social {
    display: none;
  }
  .issue-wrapper {
    margin: 0;
  }
  .issue-header {
    height: 800px;
  }
  .player-controls {
    padding-right: 5px;
    padding-left: 0px;
    text-align: right;
  }
  .player {
    display: none;
  }
  .track-title {
    display: none;
  }
  .nav-home-button {
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  &:hover {
    text-decoration: none;
    color: $white !important;
    background-color: $black;
    }
  }
  .nav-mark {
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
