.site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.site-menu {
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -300px;
}

.menu-content {
    position: fixed;
}

.site-wrapper.show-nav .site-canvas {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

//Issue Nav Bar
.issue-nav {
  height: 70px;
  display: table;
  width: 100%;
}

.issue-nav-fixed {
  position:fixed;
  width: 100%;
  z-index: 9999;
  top:0;
}

.mark-sm {
  width: 30px;
  padding-left: 21px;
  padding-top: 10px;
  fill: $white;
}

//Creates linking Singles Club mark in NAV
.nav-home-button {
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $white !important;
    background-color: $light-gray;
  }
}
//Creates table-cell that doesn't break down to full width on mobile
.issue-nav-element {
  display: table-cell;
  vertical-align: middle;
}

.nav-mark {
  width: 70px;
}

.nav-issues {
  width: 300px;
}

.nav-social {
  width: 100px;
  .ss-icon {
    font-size: 18px;
    color: $dark-gray;
    &:hover {
      color: darken($light-gray, 10%);
      text-decoration: none;
    }
  }
}
.nav-mark, .nav-issues, .nav-player {
  border-right: 1px solid $dark-gray;
}

.nav-issues a {
  color: $dark-gray;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

.toggle-down {
  width: 12px;
  margin-left: 15px;
  fill: $dark-gray;
}
