progress {
  display: block;
  width: 100%;
  height: 0.2rem;
  margin: 0.75rem 0;
  background-color: $light-gray;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer; }
  progress::-webkit-progress-bar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.125); }
  progress::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: $light-gray; }
  progress::-moz-progress-bar {
    background-color: #f52; }

.track-title {
    float: left;
    display: block;
    display: table-cell;
    vertical-align: middle;
    width: 150px;
}

.player {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

//Full width player for mobile
.full-player progress {
  height: .5rem;
  margin-top: 0;
}

.full-player {
  border-top: .2em solid $black;
}

.player-controls {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    z-index: 3000;
}

.player-controls svg {
    width: .8rem;
}

.player-controls button {
    background: transparent;
    border: none;
    color: $white;
    outline: none;
    margin-left: 10px;
}
