//Homepage Grid Images

.project1 {
  background-image:url(../images/imagesize-1.jpg);
}

.project2 {
  background-image:url(../images/imagesize-2.jpg);
}

.projectthumb {
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.projectimage {
  height: auto;
  width: 100%;
}

.overlay { background:rgba(0,0,0,.75);
           opacity:0;
           -webkit-transition: opacity .25s ease;}

.grid-title:hover.overlay{
  opacity: 1;
}

//Project Titles

.grid-title {
  height: 100%;
  width: 100%;
  display: table;
}

.grid-title p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

//Scale images

@media screen and (max-width: 64rem){
  .projectthumb {
  max-height: 300px;
  max-width: auto;
}
}

@media screen and (max-width: 48rem){

.projectthumb {
  max-height: 400px;
  max-width: auto;
}

}