// Base thematic styles

body {
  color: $dark-gray;
  background-color: #000;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}

.main-nav {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $mid-gray;
}


// RSS Feed

.rss-feed {
  padding-top: 30px;
  padding-bottom: 30px;
}

.feedEkList {
  list-style: none;
  margin-left: -50px;
}

.itemContainer {
  padding-bottom: 66.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.itemContent img {
  width: 100%;
  height: auto;
}

.itemTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dark-gray;
}

.itemContent p {
  display: none;
}

.rss-feed-spacer {
  height: 300px;
}

.recent-posts {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
  border-right-style: solid;
  border-width: 2px;
  border-color: $off-black;
}

// Featured Issue

.issue-label {
  float: right;
  margin-left: -$grid-gutter/2;
  overflow: hidden;
}

.featured-content  {
  .border {
    border-width: 2px;
    border-color: $dark-gray;
  }
}

//Issues

.issue-meta {
  padding-right: 0rem;
  padding-left: 0rem;
  padding-top: 0.7rem;
  padding-bottom: 0.6rem;
  height: auto;

}

// Mobile Styling
@media screen and (max-width: $breakpoint-mobile) {
  .rss-feed-spacer {
    display: none;
  }

.issue-label {
  float: none;
}
 }
