// Base thematic styles

body {
  color: $dark-gray;
  background-color: #000;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}

.main-nav {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $mid-gray;
}
