// Base thematic styles

body {
  color: $dark-gray;
  background-color: $black;
}

a {
  color: $blue;
  text-decoration: underline;
  &:hover {
    color: darken($blue, 10%);
    text-decoration: none;
  }
}

.clean-link a {
  text-decoration: none;
}

.white-link a {
  color: $white;
  &:hover {
    color: $light-gray
  }
}

.link-light-gray {
  color: $light-gray;
  text-decoration: underline;
  &:hover {
    color: darken($light-gray, 10%);
    text-decoration: none;
  }
}

.nav-top {
  padding-top: -40px;
  padding-bottom: -40px;
}

.main-nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding-bottom: .3rem;
  padding-top: .7rem;
  background-color: rgba(35,35,35, 0.95);
}

.tagline {
  padding-top: .75rem;
}

// RSS Feed

.rss-feed {
  margin-top: -45px;
}

.feedEkList {
  list-style: none;
  margin-left: -50px;
}

.itemContainer {
  padding-bottom: 66.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.itemContent img {
  width: 100%;
  height: auto;
  display: block;
}

.itemTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $red;
  color: #fff;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: box-shadow , background-color;
  &:hover,
  &:focus {
    outline: none;
    background-color: darken($red, 20%);
  }
}

.itemContent p {
  display: none;
}


.recent-posts {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
  border-right-style: solid;
  border-width: 2px;
  border-color: $off-black;
}

// Featured Issue

.issue-label {
  float: right;
  overflow: hidden;
}

.featured-content  {
  height: 439px;
  .border {
    border-width: 2px;
    border-color: $dark-gray;
  }
}

//Issues

.issue-meta {
  padding-right: 0rem;
  padding-left: 0rem;
  padding-top: 0.79rem;
  padding-bottom: 0.65rem;
  height: auto;

}

.archive {
  margin-left: -2.5rem;
}

.archive li {
  float: left;
  display: inline;
  padding-right: .5rem;
}


//Subscription

.subscription {
  background: url(../images/subscription.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90%;
  background-position: center center;
  background-color: #ddd8d3;
  .logo {
    width: 150px;
  }
}

.nav-logo {
  max-width: 150px;
}

.mail-club h5 {
  max-width: 300px;
}

// Mobile Styling
@media screen and (max-width: $breakpoint-mobile) {
  .rss-feed-spacer {
    display: none;
  }

  .featured-content {
    height: auto;
  }

  .subscription {
    background: none;
  }

  .tagline {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .slider {
    padding-top: 6rem;
  }

  //Footer

  .social-footer {
  float: none;
  margin-right: 30px;
}

}
