// Type

// body {
//   font-family: $font-family;
//   line-height: $line-height;
//   font-weight: 400;
// }

h1, h2, h3, h4, h5, h6 {
  line-height: $line-height-heading;
  font-weight: 300;
}

// Base Type Scale
h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4, dl, ol, ul  {
  font-size: $h4;
}

p {
  font-size: $h3;
  line-height: 1.75em;
}

h5 {
  font-size: $h5;
  line-height: $lh3;
}

h6, small {
  font-size: $h6;
}

// Responsive Type Scale
@if ($responsive-type) {
  @media screen and (min-width: $breakpoint-desktop) {
    .h1 { font-size: $desktop-h1; }
    .h2 {
      font-size: $desktop-h2;
      line-height: 1.5em;
    }
    .h3 { font-size: $desktop-h3; }
    .h4, p {
      font-size: $desktop-h4;
      line-height: 1.7em;
    }
    .h5 { font-size: $desktop-h5; }
    .h6 { font-size: $desktop-h6; }
  }
}

// Utilities
.bold    { font-weight: bold; }
.regular { font-weight: normal; }
.italic  { font-style: italic; }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

// Prevent flashing fonts with fontdeck
// The recommended method flashes the entire body - not sure what the psychological
// impact of perceived load time is, but my guess is not that much better.
// Instead this method only hides elements styled with the fonts that are loading
//.wf-loading body {
.wf-loading {
  .apercu,
  .apercu-medium,
  .apercu-bold {
    visibility: hidden;
  }
}

// Alignment
.left-align   { text-align: left; }
.center       { text-align: center; }
.right-align  { text-align: right; }
.justified    { text-align: justify; }

//line height

.lh1 { line-height: $lh1; }
.lh2 { line-height: $lh2; }
.lh3 { line-height: $lh3; }

// Letter Spacing

.ls-1 { letter-spacing: $ls-1; }
.ls05 { letter-spacing: $ls05;}
.ls1 { letter-spacing: $ls1;}
.ls1-05 { letter-spacing: $ls1-05; }
.ls2 { letter-spacing: $ls2; }
.ls3 { letter-spacing: $ls3; }

//Typefaces
body {
  font-family: $sans-serif;
  font-weight: 400;
  letter-spacing: $ls05;
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
}

.pull-quote h2 {
  font-family: $serif;
  font-weight: 300;
  font-style: italic;
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.sans-serif, .sans-serif-light, .lydian-italic, .lydian, .lydian-bold, .serif {
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.sans-serif {
  font-family: $sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sans-serif-light {
  font-family: $sans-serif-light;
  font-weight: 300;
  font-style: normal;
}

.serif, p {
  font-family: $serif !important;
  font-style: normal !important;
}

.lydian-italic {
  font-family: $lydian-italic;
  font-weight: lighter;
}

.lydian {
  font-family: LydianBT-Roman, georgia;
  font-weight: normal;
  letter-spacing: $ls1;
}

.lydian-bold {
  font-family: LydianBT-Bold, georgia;
  font-weight: normal;
}
