// Type

// body {
//   font-family: $font-family;
//   line-height: $line-height;
//   font-weight: 400;
// }

h1, h2, h3, h4, h5, h6 {
  line-height: $line-height-heading;
  font-weight: 300;
}

// Base Type Scale
h1, .h1 { font-size: $h1; }
h2, .h2 { font-size: $h2; }
h3, .h3 { font-size: $h3; }
h4, .h4,
p, dl, ol, ul  { font-size: $h4; }
h5, .h5        { font-size: $h5; }
h6, .h6, small { font-size: $h6; }

// Responsive Type Scale
@if ($responsive-type) {
  @media screen and (min-width: $breakpoint-desktop) {
    .h1 { font-size: $desktop-h1; }
    .h2 { font-size: $desktop-h2; }
    .h3 { font-size: $desktop-h3; }
    .h4 { font-size: $desktop-h4; }
    .h5 { font-size: $desktop-h5; }
    .h6 { font-size: $desktop-h6; }
    p {font-size: $desktop-h4; }
  }
}

// Utilities
.bold    { font-weight: bold; }
.regular { font-weight: normal; }
.italic  { font-style: italic; }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

// Prevent flashing fonts with fontdeck
// The recommended method flashes the entire body - not sure what the psychological
// impact of perceived load time is, but my guess is not that much better.
// Instead this method only hides elements styled with the fonts that are loading
//.wf-loading body {
.wf-loading {
  .apercu,
  .apercu-medium,
  .apercu-bold {
    visibility: hidden;
  }
}

// Alignment
.left-align   { text-align: left; }
.center       { text-align: center; }
.right-align  { text-align: right; }
.justified    { text-align: justify; }

//line height

.lh1 { line-height: $lh1; }
.lh2 { line-height: $lh2; }
.lh3 { line-height: $lh3; }

// Letter Spacing

.ls-1 { letter-spacing: $ls-1; }
.ls05 { letter-spacing: $ls05;}
.ls1 { letter-spacing: $ls1;}
.ls1-05 { letter-spacing: $ls1-05; }
.ls2 { letter-spacing: $ls2; }
.ls3 { letter-spacing: $ls3; }

//Typefaces
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: $ls05;
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
}

.helvetica {
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.helvetica-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: $ls05;
}

.apercu {
  font-family: 'Apercu Regular', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.apercu-light {
  font-family: 'Apercu Light', 'Helvetica-Light', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.apercu-medium {
  font-family: 'Apercu Medium', 'Helvetica-Medium', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.apercu-bold {
  font-family: 'Apercu Bold', 'Helvetica-Bold', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.lydian-italic {
  font-family: LydianBT-Italic, georgia;
  font-weight: lighter;
}

.lydian {
  font-family: LydianBT-Roman, georgia;
  font-weight: normal;
  letter-spacing: $ls1;
}

.lydian-bold {
  font-family: LydianBT-Bold, georgia;
  font-weight: normal;
}

// Uncomment this to switch to Georgia on paragraphs
// p,

.serif {
  font-family: Georgia, serif;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
}
