// Variables

// Default whitespace unit
$space: 1rem !default;

// Typography
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$line-height: 1.5 !default;
$line-height-heading: 1.25 !default;

// Type Scale
$h1: 60px !default;
$h2: 42px !default;
$h3: 32px !default;
$h4: 23px !default;
$h5: 18px !default;
$h6: 13px !default;

// Responsive type scale
$responsive-type: true !default;
$desktop-h1: 72px !default;
$desktop-h2: 42px !default;
$desktop-h3: 32px !default;
$desktop-h4: 23px !default;
$desktop-h5: 18px !default;
$desktop-h6: 13px !default;

// Typography
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "TimesNewRoman", "Times New Roman", Times, Baskerville, Georgia, serif;

//line height
$lh1: 1em;
$lh2: 1.25em;
$lh3: 1.5em;

// Letter Spacing
$ls-1: -.1em;
$ls05: .05em;
$ls1: .1em;
$ls1-05: .105;
$ls2: .2em;
$ls3: .3em;

// Breakpoints
$breakpoint-iphone: 322px;
$breakpoint-ipad: 768px;
$breakpoint-mobile: 768px;
$breakpoint-desktop: 769px !default;

// Heights for buttons, forms, nav, etc.
$ui-height: 2.25rem !default;
$ui-height-small: 1.75rem !default;
$ui-height-big: 3rem !default;

$ui-padding: .75*$space !default;

// Grid
// $grid-max-width: 75rem !default;
$grid-max-width: 70rem !default;
$grid-gutter: 2 * $space !default;

// Theme
$light-gray: #e2e2e2 !default;
$mid-gray: #a8a8a7 !default;
$gray: #a8a8a7 !default;
$dark-gray: #333333 !default;
$off-black: #061310 !default;
$black: #061310 !default;
$off-white: #f7f7f7 !default;
$white: #f7f7f7 !default;
$blue: #3b00cc !default;
$red: #ff0033 !default;
$yellow: #ffb600 !default;
$green: #00ffaa !default;
$orange: #ff3000 !default;

// Alpha blacks for UI elements
$darken-1: rgba(#000,.125) !default;
$darken-2: rgba(#000,.25) !default;
$darken-3: rgba(#000,.375) !default;

// Borders
$border-color: #ccc !default;
$border-width: 1px !default;
$border-radius: 0 !default;

