---
title: "Chris Muccioli - Art Direction &amp; Design"
description: "Chris Muccioli - Art Direction &amp; Design"
---
{% include head.html %}
{% include header.html %}

<div class="row pb1">
  <div class="col col-4">
    <a href="#">
      <div class="project1 projectthumb">
        <div class="overlay grid-title">
          <p>Kickstarter at Sundance 2014</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col col-8">
    <a href="#">
      <div class="project2 projectthumb">
        <div class="overlay grid-title">
           <p>Kickstarter at Sundance 2014</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row py1">
  <div class="col col-4">
    <a href="#">
      <div class="project1 projectthumb">
        <div class="overlay grid-title">
          <p>Kickstarter at Sundance 2014</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col col-4">
    <a href="#">
      <div class="project1 projectthumb">
        <div class="overlay grid-title">
           <p>Kickstarter at Sundance 2014</p>
        </div>
      </div>
    </a>
  </div>
<div class="col col-4">
    <a href="#">
      <div class="project1 projectthumb">
        <div class="overlay grid-title">
           <p>Kickstarter at Sundance 2014</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row py1">
  <div class="col col-4">
    <a href="#">
      <div class="project1 projectthumb">
        <div class="overlay grid-title">
          <p>Kickstarter at Sundance 2014</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col col-4">
    <a href="#">
      <div class="project1 projectthumb">
        <div class="overlay grid-title">
           <p>Kickstarter at Sundance 2014</p>
        </div>
      </div>
    </a>
  </div>
<div class="col col-4">
    <a href="#">
      <div class="project1 projectthumb">
        <div class="overlay grid-title">
           <p>Kickstarter at Sundance 2014</p>
        </div>
      </div>
    </a>
  </div>
</div>
