---
title: "Chris Muccioli - Art Direction &amp; Design"
description: "Chris Muccioli - Art Direction &amp; Design"
---
{% include head.html %}
{% include header.html %}


<div class="container project-description px2">
  <div class="row py2">
    <div class="col col-4 mobile-center">
      <h1> Secret Mountains Rainer LP</h1>
    </div>
    <div class="col col-8 mobile-center">
      <p>Description of project goes here. Description of project goes here. Description of project goes here. Description of project goes here. Description of project goes here. </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-8 col-pre-4 mobile-center">
      <p>Role</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row py1">
      <img src="../images/imagesize-2.jpg" class="projectimage col mb1">
      <p class="meta r-px2 px4">&mdash; Black on black on black on black</p>
  </div>
  <div class="row py2">
    <div class="col col-6">
      <img src="../images/imagesize-1.jpg" class="projectimage">
    </div>
    <div class="col col-6">
      <img src="../images/imagesize-1.jpg" class="projectimage">
    </div>
  </div>
</div>