---
title: "Issue 3 – Woodsman"
description: "Singles Club Issue 2: Small Sur"
socialimage: "images/smallsur_facebook.jpg"
---
{% include head.html %}
<body ng-app="plangular">
    <!--Issue Highlight-->
    <style>
      .bg-highlight { background-color: #6600FF; }
      .bg-feature-2 { background-color: #f2effe; }
      .feature-2-hightlight { color: #1E005F; border-color:#1E005F ;}
      .border-highlight { border-color: #6600FF; }
      body a { color: #6600FF;}
    </style>
  <div class="issue-wrapper bg-white">
  <div plangular="https://soundcloud.com/singlesclubfm/woodsman-sc003-further">
    <!--HEADER-->
      <div class="issue-header woodsman bg-cover bg-center">
      <div class="container px2">
        <div class="table mobile-table" style="height: 100vh;">
          <div class="table-cell mobile-table-cell center white">
            <h1 class="h1">Woodsman</h1>
            <div ng-click="playPause()" class="button button-purple mt2 white">
              <a href="#">Listen & Begin</a>
            </div>
            <div class="pt3">
              <div class="meta">
                <h5>Audio is recommended for this feature. <br>Just hit Listen & Begin.</h5>
              </div>
              <img src="/images/stereo.svg" alt="Stereo" class="pt2"/>
              <div class="meta">
                <h5>SC003</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    <!--NAV-->
    <div class="issue-nav-fixed">
      <div class="issue-nav bg-off-black">
            <div class="issue-nav-element nav-home-button nav-mark bg-highlight">
              <div class="table mobile-table">
                <div class="table-cell mobile-table-cell">
                  <a href="#">
                    <svg version="1.1" mlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve" fill="#fff">
                      <path d="M553.5,515.4c2.9-78.6-40.8-131-142.7-174.7l-81.5-32c-46.6-20.4-87.4-40.8-104.8-58.2c-17.5-14.6-29.1-37.9-26.2-64.1
                        c0-46.6,29.1-67,87.4-64.1c17.5,0,32,2.9,49.5,8.7c67,23.3,113.6,96.1,145.6,192.2c2.9,5.8,5.8,8.7,8.7,11.6c2.9,0,2.9,0,2.9-2.9
                        c2.9,0,2.9-2.9,2.9-8.7V122.3c0-5.8-2.9-11.6-8.7-11.6c-5.8,0-8.7,5.8-8.7,8.7c-2.9,5.8-5.8,8.7-17.5,8.7c-5.8,0-11.6-8.7-32-14.6
                        c-67-14.6-96.1-20.4-131-23.3C163.3,87.4,61.4,168.9,58.5,279.5c0,69.9,46.6,122.3,157.2,168.9l84.4,34.9
                        c87.4,37.9,119.4,72.8,119.4,119.4c-2.9,49.5-37.9,67-99,64.1c-20.4,0-40.8,2.9-67-5.8c-32-11.6-58.2-32-84.4-64.1
                        C122.6,538.7,93.4,480.4,76,419.3c0-5.8-5.8-11.6-8.7-11.6s-2.9,0-2.9,2.9c-5.8,2.9-5.8,5.8-5.8,11.6v253.3c0,5.8,2.9,8.7,5.8,11.6
                        c0,0,0,0,2.9,0s5.8-2.9,8.7-8.7c2.9-8.7,11.6-11.6,23.3-11.6c8.7,0,11.6,2.9,37.9,8.7c72.8,17.5,136.9,23.3,183.4,26.2
                        C445.8,704.6,550.6,628.9,553.5,515.4z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          <div class="issue-nav-element nav-issues nav-home-button px2">
            <a href="#" id="toggle-nav">
            <h4 class="h5 left white"><span class="issue-3">Issue 3: </span>Woodsman</h4>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 1.9 1.4" enable-background="new 0 0 1.9 1.4" xml:space="preserve" class="toggle-down">
              <polygon points="1.9,0 1,1.4 0,0 "/>
            </svg>

            </a>
          </div>
          <div class="issue-nav-element nav-player px2 white">
              <div class="table mobile-table full-width">
                <div class="track-title">
                  <h4>Side A: 'Further'</h4>
                </div>
                  {% raw %}
                  <div class="player-controls">
                    <button class="no-wrap play-pause" ng-click="playPause()">
                      <svg ng-if="player.playing != track" viewBox=“0 0 32 32” plangular-icon="play" class="popin"></svg>
                      <svg ng-if="player.playing == track" viewBox=“0 0 32 32” plangular-icon="pause" class="popin"></svg>
                    </button>
                  </div>
                  <div class="player full-width">
                    <progress class="bg-highlight" value="{{ currentTime / duration || 0 }}" ng-click="seek($event)">{{ currentTime / duration }}</progress>
                  </div>
                  {% endraw %}
              </div>
          </div>
          <div class="issue-nav-element nav-home-button mobile-player-controls">
            <div class="table mobile-table">
              <div class="table-cell mobile-table-cell">
                {% raw %}
                  <div class="player-controls">
                  <button class="no-wrap play-pause" ng-click="playPause()">
                    <svg ng-if="player.playing != track" viewBox=“0 0 32 32” plangular-icon="play" class="popin"></svg>
                    <svg ng-if="player.playing == track" viewBox=“0 0 32 32” plangular-icon="pause" class="popin"></svg>
                  </button>
                  </div>
                {% endraw %}
              </div>
            </div>
          </div>
          <div class="issue-nav-element nav-social px2 center">
            <div style="margin-top:9px">
              <a href="https://twitter.com/singlesclubfm" class="ss-icon">twitter</a>
              <a href="http://www.facebook.com/singlesclubfm" class="ss-icon pl2">facebook</a>
            </div>
          </div>
      </div>
      <!--Sub Nav-->
      <div id="issue-sub" class="bg-highlight py3">
        <div class="table table-fixed white">
          <div class="table-cell center">
            <h4>Issue 1: Daniel Bachman</h4>
          </div>
          <div class="table-cell center">
            <h4>Issue 2: Small Sur</h4>
          </div>
          <div class="table-cell center">
            <h4>Issue 3: Woodsman</h4>
          </div>
        </div>
      </div>
      {% raw %}
      <div class="full-player full-width">
        <progress class="bg-highlight" value="{{ currentTime / duration || 0 }}" ng-click="seek($event)">{{ currentTime / duration }}</progress>
      </div>
      {% endraw %}
    </div>
    </div>

    <div class="container px2">
      <!--FEATURE 1-->
      <div class="row">
        <div class="col col-10 col-offset-1 py3">
          <h1>Bright Lights, Blog City</h1>
          <!--Feature Meta-->
          <div class="row feature-meta py2 mt3">
            <div class="mobile-col mobile-col-2 col-1">
              <div class="feature-number">1</div>
            </div>
            <div class="mobile-col mobile-col-10 col-11 pt2 light-gray caps lydian-bold">
              <h5>Words by: Mike Sheffield</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-10 col-offset-1 serif">
          <h2 class="py2 h2">On June 18th, 2010 Woodsman would play their first show in Brooklyn. The Denver-based band, at the time a quartet, had seen the first half of a monthlong US tour spanning most of the country before heading back to Colorado. It was a crowded summer night in Williamsburg. The air was sticky, anxiously purring, the sun streaked down into a purple-hued gloaming over the East River. They were slated to perform at the Monster Island Basement. </h2>
        </div>
      </div>
      <div class="row">
        <div class="col col-8 col-offset-2">
          <p class="py2">Gone without a trace, the Monster Island Basement was once half a square-block on River Street by the Williamsburg waterfront that held an art gallery, a hall of practice spaces, a single residence, and an intimate venue primarily for emerging local and national artists. Many of the acts that played the basement would “not be playing this kind of venue for much longer,” the media would perpetuate, but these sorts of rooms had long been a staple of the New York City art-party scene. This ethos was at fever pitch in 2010.</p>

          <p class="py2">The authenticity of a tiny venue with hoards of musicians, artists, and chic photographers had even enticed hip-hop mogul Damon Dash to go DIY, throwing shows in his studio basement in Manhattan with the help of a few young, enterprising New Yorkers. They deemed it Under 100, pairing locals with widely known acts like Erykah Badu and Mos Def. It was the height of blog-rock. Bands like the <a href="#">Vivian Girls</a> and WAVVES went from forming in ash-covered practice spaces to selling out venues seemingly overnight, Athens’ Black Kids were signed to Columbia Records after posting one track to MySpace, and mischievous sites like Pitchfork, Chocolate Bobka, and Get Off The Coast were informing the record industry more than Rolling Stone and SPIN. It was an exciting time to be in a band, it seemed like anyone could make it, and fast with a pinch of luck.</p>

          <p class="py2"> After months of demoing in Denver, Woodsman had seen some of this luck. With several tracks leaked across the blogosphere, Woodsman’s moss covered kraut-rock had garnered the attention of young upstart label Mexican Summer, leading to the release of Collages, one of their earliest full-fledged albums in December of 2009. “Any attention was a shock to us in the first place,” drummer Dylan Shumaker recounts. </p>
        </div>
      </div>
    </div>
    <div class="image-set">
      <div class="full-width" style="background-image:url('images/woodsman-mexicansummer.jpg'); background-position: center center; background-size: cover; height: 400px; background-attachment: fixed;">
      </div>
    </div>
    <div class="container px2">
      <div class="row">
        <div class="col col-8 col-offset-2">
          <p class="py2"> Soon enough, people were talking and that summer tour was largely a coming out party for the band. The June 18th bill, put together by infamous Brooklyn promoter Todd P, would see Woodsman playing alongside Wild Nothing, Ducktails, and Velvet Davenport on a small stage, down a flight of stairs in a graffiti-covered basement. It was nothing short of a perfect storm and Woodsman would taste New York City for the first time. </p>

          <img src="images/woodsman-download.jpg" class="fit col-6 right p2 clear-padding">

          <p class="py2"> Ambient agency, glowing yet restrained, Woodsman’s art was about long form storytelling, ritualistic and compiled. The band would meditate with their instruments, paying close attention to one another’s subtle changes and vulnerabilities while just as soon blaring white noise in an indifference that was their communion. “The risk taking element of this band is pretty much what it’s all about,” guitarist Trevor Peterson adds. Playing live added extra pressure. In the yellow spotlights of Monster Island, Woodsman were immersed in their craft, improvising over structured jams that were the labor of love they had cultivated in their house back West. </p>

          <p class="py2"> Mark Demolar’s stylized arpeggios interweaved with Peterson’s shamanistic yelping while drummers Eston Lathrop and Dylan Shumaker vamped like machine guns. Walls of cymbals blaring like gongs, drum sticks banging guitar frets, tangled strings riding down the neck, and looped feedback all filled up the room. Just hitting full bloom, Todd P rushed the stage and screamed. “You have to stop playing!” How long had it been? 20 minutes? An hour? Had it been months? Years? </p>

          <p class="py2"> “I had this funny realization when I moved here three years ago. That’s when time stopped for me...when people ask how long Woodsman’s been a band, I still say like three years...for some reason when I moved here, everything started over for me,” Mark recalls. Mark and Trevor met studying film in Denver and both had two-man bands. Eston and Dylan were their drummers. One thing led to another and they all began playing together. “In Denver music was always an open thing, the door was unlocked,” Dylan remembers. Trevor and Eston were called Woodsman and the name soon enveloped all four. </p>
        </div>
      </div>
      <div class="row center py3">
        <img src="images/woodsman-couch-2.jpg" class="full-width">
      </div>
      <div class="row">
        <div class="col col-8 col-offset-2">
          <p class="py2"> They would jam for hours in a house on Stout Street, dubbed the Pink Castle and set up shows in the area at Imperial Shit Hole, a big room that functioned as a gallery and venue started by friend Greg Tait. Everything was DIY and everything was slow. Working jobs at hotels or bars, they lived to come home and make art, never rushing to any place too quickly. They had Pink Castle, gear, and time. Songs would start gradually, picking a tempo or key, setting up mics just to see what would happen. Somewhere between endless experimentation, listening to Neu! ‘75 on repeat, and bonding in a house with the rest of their lives at their fingertips, something was born. </p>

          <p class="py2"> After their inception in 2008, Woodsman would perform across the Midwest and West Coast. It provided Woodsman with a new soundboard other than the “ten friends” at Imperial Shit Hole and found them making connections across a varying landscape. They would meet contemporaries that would give and take from them alike, bands like Kansas-bred Baby Birds Don’t Drink Milk would look into the mirror just as the mirror would become them. </p>

          <p class="py2"> Before transplanting to NYC, the group culled together Rare Forms. An inspired album made over the summer of 2010 and their last at Pink Castle. Scraping their buoyancy for a more produced, song-oriented style, they set out to record a “record record,” with well formed gems blending their signature skronk with an arena-rocking bravado reminiscent of Crazy Horse or Marc Bolan. After the recording, they would have to relearn the majority of what they had just done. “Marc wrote out the tabs,” Dylan jokes. Suddenly they weren’t exploring their own psychedelic plain, rather attempting to recapture what a summer spent recording produced. Mark was already in New York by then, Trevor and Dylan soon to follow. </p>
        </div>
      </div>
    </div>
    <div class="image-set">
      <div class="mobile-table table pull-quote" style="background-image:url('images/woodsman-2.jpg'); background-position: center center; background-size: cover;">
        <div class="table-cell white mobile-table-cell px4 py6">
          <p> "Coming to New York meant recording in a studio, not a house. New York meant constantly thinking about money, not just music. It meant living the hustle because the hustle was the only way to survive." </p>
        </div>
      </div>
    </div>
    <div class="container px2">
      <div class="row">
        <div class="col col-8 col-offset-2">
          <p class="py2"> Sleeping on roofs and couches, Trevor and Dylan would frequent Brooklyn before settling down. Trevor slyly jests 'I grew up in Iowa, I can’t just go somewhere, I got to test it out first.” Raising enough money to jump across the country, he left the house, the trees and silent nights. Coming to New York meant recording in a studio, not a house. New York meant constantly thinking about money, not just music. It meant living the hustle because the hustle was the only way to survive. New York also meant losing Eston behind the skins. “He flew back after four days,” Dylan recounts, his partner drummer’s heart rooted thickly in his home. The band would continue as three. </p>

          <p class="py2"> Their latest, self-titled album was recorded with Daniel Schlett at Strange Weather Studios in Brooklyn upon Woodsman's arrival in NYC. Strange Weather is an apartment building renovated into a lush recording studio. A ten-foot mixing board peaks into a sound treated studio, where sounds bounce of hardwood floors and drift into the backyard over a faded doormat bearing the studio’s name. With an arsenal of high-end machinery and the band’s high fidelity stems, it was completed last July. They would crown it Woodsman; a stylized shaky vision of rock, a return and congealing of years past. </p>
        </div>
      </div>
    </div>
    <div class="image-set">
      <div class="px4 clear-padding">
        <img src="images/woodsman-studio-2.jpg" class="half-width left">
        <img src="images/woodsman-studio-1.jpg" class="half-width">
      </div>
    </div>
    <div class="container px2">
      <div class="row">
        <div class="col col-8 col-offset-2">
          <p class="py2"> Walking down Havemeyer Street in Brooklyn, I see Trevor standing outside a retail shop. Trevor is a tall glass of water. Skinny and strong, with long hair that hangs just below his shoulders, thick stubble below his nose and chin with deep brown eyes. He leads me downstairs into a practice space the band shared with psych no-wavers Psychic Ills. The basement looks like it could have been CBGB’s; green paint, punk stickers, the smell of stale cigarettes wafting heavily out onto the street. We sat in the limited free space and discussed our fellowship of Black Dice. Essentially a religion amongst musicians of a certain mindset, the Dice remain an elusive white whale.  </p>

          <p class="py2"> I had long associated Woodsman’s output with kraut-rock, psychedelia, and the Madchester drug haze, but over tall boys with Trevor that night, it became apparent that these tendencies were all reaching towards that Black Dice oeuvre. That indescribable mood between chaotic rhythm, beautiful mistakes, and pounding visceral cacophony. Trevor had an affinity for bone-rattling non-melody, which became even more apparent as we spoke of Katrina Stonehart. Stonehart, the solo moniker of Drew Gibson of Baby Birds Don’t Drink Milk, was a different beast; a black hole and sweet saccharine dream. I was a fan as well, albeit later to the party than Trevor, and we swooned over Drew’s harsh low frequencies that he pummeled forth between sugary delayed 7th chords and phantom Beach Boys coos. </p>

          <p class="py2"> “I still don’t know how he does that,” Trevor said with a grin, romanticizing his peer in the endlessly curious and supportive way Trevor treats musicians he admires. We jammed for an hour, but mainly talked about music, our lives and success. Trevor never fears falling short, perhaps a lesson learned from Mexican Summer, the blogosphere and the popularity of Rare Forms. “It sucks when other things start to filter in...we’re not careerists, we just want to make what feels right,” he confided in me. For Woodsman, it’s all about living the music they create, the glow centered inwards. </p>

          <img src="images/woodsman-flyer.jpg" class="fit col-6 right p2 clear-padding">

          <p class="py2"> Every few months, Trevor sets up shows at friend Steve Corcoran’s apartment in Greenpoint by McGolrick Park. A fairly quiet industrial neighborhood, Corcoran’s apartment has a large living room that's been converted into a practice space and recording studio with windows facing the East River. In October of 2011, Trevor held a Fire Talk showcase at Norman. </p>

          <p class="py2"> With the promise of free tequila and a roof that displayed the southern tip of Manhattan in sparkling orbs, the showcase wasn’t of the nervous energy that encompassed Monster Island, but of familial warmth. With Woodsman and Fire Talk, Trevor was no longer grasping at limelight but was cultivating a stable ground. </p>
        </div>
      </div>
    </div>
    <div class="image-set px4 clear-padding">
      <img src="images/woodsman-live-2.jpg" class="full-width">
    </div>
    <div class="container px2 pb6">
      <div class="row">
        <div class="col col-8 col-offset-2">
          <p class="py2"> From bare solo acts like Speculator and Eola, to the desert psychedelia of Tjutjuna, the night resembled in many ways the spirit that Woodsman brought to New York City, as if a tequila-coated brain could come on stage at any point, pick up a hot patch cable, and join the drone communion. </p>

          <p class="py2"> Playing in front of the window, their long hair blurred in clamp lights reflected on the glass, Woodsman melting even further into the city lights. The clock ached, the night grew long, and everyone kept asking for more. </p>
        </div>
      </div>
    </div>
  </div>
  <!--Feature 2 -->
  <div class="issue-wrapper bg-feature-2 py4">
    <div class="container px2">
      <div class="row py6">
        <div class="col col-5">
          <div class="row center">
            <img src="images/fire-talk-with-me.jpg">
          </div>
          <div class="row py2 mt3 feature-2-hightlight">
            <div class="mobile-col mobile-col-3 col-2">
              <div class="feature-number feature-2-hightlight">2</div>
            </div>
            <div class="mobile-col mobile-col-9 col-10 pt2 caps lydian-bold feature-2-hightlight">
              <h6>Words by: Jeffrey Silverstein</h6>
            </div>
          </div>
        </div>
        <div class="col col-7 feature-2-hightlight italic serif pt2">
          <h3> Starting a record label is easy. Running and maintaining one however, whilst navigating the ripe and often overcrowded beast that is our current music industry is an entirely different story. Within the deep web of underground and DIY communities, label longevity stems not only from those who possess a deep love of music, but those who are able to harmonize with a business that is oftentimes frugal. </h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-10 col-offset-1 feature-2-hightlight">
          <p class="py2"> Fire Talk records, started as a means to give clout to a Woodsman CDR released prior to an early tour, is now a mainstay in the psych/drone/ambient bevy. While speaking with Trevor in his Greenpoint apartment which doubles as Fire Talk HQ, it becomes evident why the label was able to recently celebrate it's fifth year of existence. </p>

          <img src="images/firetalk.jpg" class="fit col-6 right p2 clear-padding">

          <p class="py2"> Despite an obvious overlap between Woodsman and Fire Talk, Trevor described his relationship with the two. "The band is an art project. It doesn't have anything to do with commerce. They're completely separate entities in my mind." It is exactly this distinction however that has allowed both to grow into fully realized projects,Trevor bringing a healthy life force into each. For being the most mellow dude I've ever met, he's also deeply focused and driven, recognizing the challenges of running a business so often discounted by smaller labels. </p>

          <p class="py2"> "There's no reason why a label can't function like a Dead Oceans or a big label, but also be run by one-dude in apartment," he adds when describing his mystic view of running a label. Surrounded every day by the machine of the music industry and having spent time working with those types of labels, he's 'not that far removed to see it.' </p>

          <p class="py2"> This perspective and experience is what makes him such an alluring label-head.  Regardless of  working with 'deep homies' or helping a Japanese ambient folk-artist assemble her first release, there is an unbridled openness to everything he touches. 'Me having that stance, I can sense when someone needs a little help, when they're so green, so talented, but just can't put it together.'  He's also cognisant of when to take a step back if 'a band as a really clear idea of every aspect of their artistic identity.' </p>

          <p class="py2"> Speaking on the influence of technology, Trevor raises some critical points. 'The art side of things is now completely intertwined with the music side...back in the day when you bought a walkman, it was just a walkman, didn't matter the brand...you still had to buy the tape that went in the walkman.'  With the advent of apps from  Spotify, Rdio, etc., we often forget that now 'there's nothing else you have to do but search.' </p>

          <div class="center">
            <img src="images/firetalk-quote.jpg" class="fit py2">
          </div>

          <p class="py2"> "The music industry has niched itself off," he hypothesizes. Rather than become discouraged by disheartening statistics about streaming royalties and the like, Trevor manages to stay hopeful. 'All I know is that at the end of the day, digital revenue is revenue that you would be foolish to not try and capitalize on. It's people, it's ears, and a lot of people are consuming music that way.' </p>

          <p class="py2"> 'Running a label is hard,' he laughs. Here's to another five years of Fire Talk. </p>
        </div>
      </div>
      <div class="row py4">
        <div class="col col-10 col-offset-1 bg-highlight white">
          <div class="row pt2">
            <div class="col col-12">
              <h5> A few of our favorite Fire Talk releases:</h5>
            </div>
          </div>
          <div class="row">
            <div class="col col-3">
              <img src="images/firetalk-babybirds.jpg" class="fit py2">
            </div>
            <div class="col col-3">
              <img src="images/firetalk-campfires.jpg" class="fit py2">
            </div>
            <div class="col col-3">
              <img src="images/firetalk-katrina.jpg" class="fit py2">
            </div>
            <div class="col col-3">
              <img src="images/firetalk-tjutjuna.jpg" class="fit py2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
